.block-info {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: (Px);
}

.block-info .icon {
  color: green;
  font-size: 2rem;
  margin-right: 12px;
}

.block-info p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.block-info h3 {
  color: green;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
