.log-in {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.log-in-card {
  width: 715px;
  height: 504px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

.log-in-card-top {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-card-top h3 {
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 3px solid green;
  padding: 21px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 33px;
}

.log-in-card-top form {
  width: 100%;
}

.log-in-card-top form #mail,
.log-in-card-top form #password {
  padding-left: 15px;
}

.log-in-card-top form input {
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
  margin: 15px 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.log-in-card-top form input:focus {
  outline: none;
}

.log-in-card-top form label {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 19px;
}

.log-in-card-top form .connect {
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-bottom: 29px;
}

.log-in-card-bot {
  display: flex;
  flex-direction: column;
  padding: 0 77px;
  align-items: center;
}

.log-in-card-bot h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 18px 0 15px 0;
}

.log-in-card-bot button {
  height: 44px;
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: green;
  cursor: pointer;
  outline: none;
}

.log-in-card .error-txt {
  color: red;
  font-weight: bold;
}
