.restaurant .slide {
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  background-color: rgb(29, 29, 29);
  outline: none;
}

.restaurant .slide:focus {
  outline: none;
}

.restaurant .carousel {
  outline: none;
}

.restaurant .wrapper {
  width: 1100px;
}

.restaurant .left-side {
  width: 800px;
}
