.rating .icon-star {
  margin: 0 1.5px;
  color: rgb(255, 215, 0);
}

.rating .icon-star-grey {
  margin: 0 1.5px;
  color: rgb(179, 179, 179);
}

.rating .icon-star,
.rating .icon-star-grey {
  width: 20%;
}
