.card {
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card img {
  object-fit: cover;
  object-position: center;
  height: 140px;
  width: 100%;
  border-radius: 7px 7px 0 0;
}

.card h2 {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  line-height: 12px;
  margin-top: 12px;
}

.card .icon-star,
.card .icon-dollar {
  margin: 0 1.5px;
  color: rgb(255, 215, 0);
}

.card .icon-star-grey,
.card .icon-dollar-grey {
  margin: 0 1.5px;
  color: rgb(179, 179, 179);
}

.card .icon-star,
.card .icon-star-grey {
  font-size: 0.9rem;
}

.card .icon-dollar,
.card .icon-dollar-grey,
.card .icon-dollar-empty {
  font-size: 1.3rem;
}

.card .icon-dollar-empty {
  margin: 0 1.5px;
  color: rgb(216, 216, 216);
}

.card .rating {
  margin-top: 10px;
}

.card .price {
  margin-top: 10px;
}

.green {
  border-bottom: seagreen solid 5px;
  position: relative;
}

.red {
  border-bottom: orangered solid 5px;
  position: relative;
}

.purple {
  border-bottom: purple solid 5px;
  position: relative;
}

.brown {
  border-bottom: rgb(165, 116, 42) solid 5px;
  position: relative;
}

.ogreen {
  background-color: rgba(46, 139, 87, 0.9);
}
.ored {
  background-color: rgba(255, 69, 0, 0.9);
}
.opurple {
  background-color: rgba(128, 0, 128, 0.9);
}
.obrown {
  background-color: rgba(165, 116, 42, 0.9);
}

.card .over-wrapper {
  width: 80%;
}

.card .overlay-card {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 7px 7px 0 0;
}

.card .overlay-card:hover {
  opacity: 1;
}

.card .overlay-card h4 {
  margin-top: 10px;
  font-size: 1.4rem;
}

.card .overlay-card h5 {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-top: 5px;
}

.card .overlay-card img {
  height: 60px;
  margin-top: 30px;
  object-fit: contain;
}

.card .overlay-card p {
  margin-top: 15px;
  font-size: 1rem;
}
