.infos-resto {
  margin-top: 15px;
}

.infos-resto > p {
  margin: 20px 0;
  line-height: 2rem;
}

.infos-resto .blocks {
  margin-top: 20px;
}

.infos-resto > div:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.infos-resto > h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
}
