.sign-up {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.sign-card {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.sign-card-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sign-card-right {
  padding: 0 40px;
  box-sizing: border-box;
}

.sign-card-right .wrapper-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid green;
  margin-bottom: 33px;
}

.sign-card-right h3 {
  font-size: 1.9rem;
  font-weight: bold;
}

.sign-card-right .form-sign-up p {
  font-size: 1.4rem;
  font-weight: bold;
}

.sign-card-right .field {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #d9e0eb;
  background-color: white;
  margin: 15px 0;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.sign-card-right .field-select {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #d9e0eb;
  background-color: white;
  margin: 10px 0;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
  outline: none;
}

.sign-card-right .field:focus,
.sign-card-right .mini-field:focus {
  outline: none;
}

.sign-card-rigth-bot {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 15px;
}

.sign-card-rigth-bot > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sign-card-rigth-bot > div:nth-child(2) {
  margin-left: 15px;
}

.sign-card-rigth-bot > div p {
  margin-bottom: 19px;
}

.sign-card-right .mini-field {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #d9e0eb;
  background-color: white;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.sign-card-right .cgv {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.9rem;
}

.sign-card-right .cgv a {
  color: green;
  text-decoration: none;
}

.sign-card-right .cgv input {
  margin-right: 10px;
}

.sign-card-right .create-btn {
  width: 100%;
  height: 45px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 34px;
  cursor: pointer;
}

.sign-card-right .create-btn:focus {
  outline: none;
}

.sign-card .wrong-txt,
.sign-card .good-txt {
  line-height: 2rem;
  font-size: 1.4rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.sign-card .wrong-txt {
  color: rgb(200, 0, 0);
  border: 1px solid rgb(200, 0, 0);
}

.sign-card .good-txt {
  color: green;
  border: 1px solid green;
}
